@import "tailwindcss";

@theme {
	--color-sand-yellow: #ffd54f;
	--color-coral-pink: #f06292;
	--color-sunset-purple: #ba68c8;
	--color-sunset-blue: #4fc3f7;
	--color-dark-text: #212121;
	--color-foam-white: #fafafa;
}
